/* Font face for custom font */
@font-face {
    font-family: "Share";
    src: url(/fonts/Share_Tech_Mono/ShareTechMono-Regular.ttf) format("truetype");
}

/* Common background image styles for header and home and about sections */
.background-image {
    background: url('images/host.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Body styles */
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header styles */
header {
    /* Applying the common background-image class to the header */
    background: url('images/host.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
}

/* Navigation styles */
nav {
    margin: 0 auto;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 80px;
    font-family: Share;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav a:hover {
    color: #ff9900; /* Change the color on hover */
}

/* Home section styles */
#home {
    /* Applying the common background-image class to the home section */
    background: url('images/host.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#home h2 {
    font-family: 'Raleway';
    font-size: 80px;
    text-align: center;
    color: #fff;
    margin-bottom: 2px;
}

#home h3 {
    font-size: 18px;
    letter-spacing: 15px;
    text-align: center;
    color: #fff;
}


section {
    padding: 30px;
    margin: 20px;
    justify-content: center;
    text-align: center;
}

#about {
    background-color: rgba(255, 255, 255, 0.8); 
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out;
    padding-top: 100px;
}
#about p {
    color: #fff;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    max-width: 80ch;
    margin: 0 auto;
}

#about.about-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 1s ease-in-out;
}


#episodes {
    height: 95vh;
    box-shadow: 0 0 10px rgba(25, 21, 38, 0.5);
    justify-content: center;
    align-items: center;
}

#episodes video {
    max-width: 100%;
    height: 60vh; 
    display: block;
    margin: 50px auto;
}

#episodes h2 {
    letter-spacing: 15px;
    font-size: 40px;
    text-align: center;
    color: #191526;
    font-family: Share;
}

#episodes p {
    color: #191526;
    line-height: 2;
    font-size: 20px;
    text-align: center;
    max-width: 80ch;
    margin: 0 auto;
}

/* Footer Styles */
footer {
    background-color: #191526;
    color: #fff;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
    padding-left: 100px;
    padding-right: 100px;
}

.social-icons img {
    width: 30px; 
    height: 30px; 
    margin: 5px;
}

    
